* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: gainsboro;
    height: 100%;
}

.papa {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    background-color: white;
    width: 870px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.main-text {
    width: auto;
}

.recipe-img {
    width: 300px;
    height: 300px;
}


.section {
    display: flex;
    flex-wrap: wrap;
}

.ingredients, li {
    margin: 10px;
}

.steps h3, .steps ol {
    margin: 10px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

a {
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: lightblue;
    padding: 10px;
}