* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: gainsboro;
    height: 100%;
}

.papa {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

a {
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: lightblue;
    padding: 10px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.main-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    width: 40%;
    min-width: 300px;
}

.recipe-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.ingredients, li, .steps h3, .steps ol {
    margin: 10px;
}